<div class="container">

    <!-- HEADER -->
    <div class="header sr-fade-down">
        <h2>TeamCore</h2>
        <div>
            <button class="btn-inicio">Inicio de Sesión</button>
            <button class="btn-registro">Registro</button>
        </div>
    </div>

    <!-- HERO -->
    <div class="content-1">
        <div class="content-1-inner">
            <div class="content-1-info sr-left">
                <h1 class="content-1-title">
                    Simplifica la gestión de tu empresa en un solo lugar
                </h1>
                <p class="content-1-text">
                    Gestiona empleados, asigna tareas y centraliza la comunicación profesional con la plataforma más intuitiva del mercado.
                </p>
                <button class="btn-registro-card1">¡Registrate ahora mismo!</button>
                <p>
                    Utilizado por más de 
                    <span class="content-1-numEmpresas">X empresas</span>
                </p>
            </div>
            <img class="sr-right" src="assets/teamcore.png" alt="Logo de TeamCore">
        </div>
    </div>

    <!-- FEATURES -->
    <div class="content-2">
        <h4 class="content-2-title sr-fade">
            Todo lo que necesitas para escalar
        </h4>
        <p class="content-2-text sr-fade">
            Diseñado para equipos que buscan eficiencia sin complicaciones
        </p>
        <div class="content-2-cards">
            <div class="card card-1 sr-card">
                <h5>
                    <img class="card-1-img" src="assets/ico-card1.svg" alt="Gestión de Empleados">
                    Gestión de Empleados
                </h5>
                <p>
                    Centraliza toda la información de tu equipo en perfiles inteligentes. Desde contratos, puestos, habilidades ...
                </p>
                <p><img src="assets/check.svg" alt="check"> Directorio dinámico</p>
                <p><img src="assets/check.svg" alt="check"> Onboarding intrinseco</p>
            </div>
            <div class="card card-2 sr-card">
                <h5>
                    <img class="card-2-img" src="assets/ico-card2.svg" alt="Tareas y Proyectos">
                    Tareas y Proyectos
                </h5>
                <p>
                    Planifica y asigna tareas con facilidad. Sigue el progreso en tiempo real y colabora sin esfuerzo.
                </p>
            </div>
            <div class="card card-3 sr-card">
                <h5>
                    <img class="card-3-img" src="assets/ico-card3.svg" alt="Vacaciones y Ausencias">
                    Vacaciones y Ausencias
                </h5>
                <p>
                    Centraliza la gestión de vacaciones y ausencias de tu equipo. Planifica con anticipación y mantén el control sobre los días libres.
                </p>
            </div>
            <div class="card card-4 sr-card">
                <h5>
                    <img class="card-4-img" src="assets/ico-card4.svg" alt="Notificaciones en tiempo real">
                    Notificaciones en tiempo real
                </h5>
                <p>
                    Recibe actualizaciones instantáneas sobre los cambios en tu equipo y proyectos. ¡Sin mensajes ni reuniones innecesarias!
                </p>
                <p>
                    <img src="assets/lamp.svg" alt="">
                    Evita perder el tiempo con chats no productivos
                </p>
            </div>
        </div>
    </div>

    <!-- CTA -->
    <div class="content-3">
        <div class="content-3-card sr-zoom">
            <h4 class="content-3-title">
                Únete a la nueva era de la gestión empresarial
            </h4>
            <p class="content-3-text">
                Registrate hoy mismo y descubre por qué las empresas líderes confían en TeamCore para potenciar su productividad.
            </p>
            <div class="content-3-button">
                <button class="content-3-button1"><b>Registro</b></button>
                <button class="content-3-button2">Contáctanos</button>
            </div>
        </div>       
    </div>

    <!-- FOOTER -->
    <div class="footer sr-fade">

        <div class="part-1">
            <h2>TeamCore</h2>
        </div>
        <div class="part-2">
            <li>Políticas de Privacidad</li>
            <li>Términos de Servicio</li>
            <li>Contacto</li>
        </div>
        <div class="part-3">
            <p>© 2026 TeamCore. Todos los derechos reservados.</p>
        </div>
    </div>

</div>