<div class="container">

    <!-- HEADER -->
    <div class="header">
        <div routerLink="/landing" class="header-title">
            <img src="assets/teamcorelogo.png" width="60px" alt="Logo de TeamCore">
            <h2>TeamCore</h2>
        </div>
        <div>
            <button routerLink="/landing/inicio-sesion" class="btn-inicio">Inicio de Sesión</button>
            <button routerLink="/landing/registro" class="btn-registro">Registro</button>
        </div>
    </div>

    <!-- FORMULARIO DE REGISTRO -->
    <div class="content-registro">
        <div class="fichaActual">
            <h3>Ficha de la Empresa Actual</h3>
                <ul class="lista-datos">
                    <li>
                        <p class="label">Nombre de la Compañía:</p>
                        <span class="valor">{{ registroData.empresa?.nombreEmpresa }}</span>
                    </li>
                    <li>
                        <p class="label">CIF:</p>
                        <span class="valor">{{ registroData.empresa?.cif }}</span>
                    </li>
                    <li>
                        <p class="label">Área de Trabajo:</p>
                        <span class="valor">{{ registroData.empresa?.areaTrabajo }}</span>
                    </li>
                    <li>
                        <p class="label">Fecha de Fundación:</p>
                        <span class="valor">{{ registroData.empresa?.fechaSalida }}</span>
                    </li>
                    <li>
                        <p class="label">Nombre de Usuario Administrador:</p>
                        <span class="valor">{{ registroData.usuario?.nombreUsuario }}</span>
                    </li>
                    <li>
                        <p class="label">DNI:</p>
                        <span class="valor">{{ registroData.usuario?.dni }}</span>
                    </li>
                    <li>
                        <p class="label">Correo Electrónico:</p>
                        <span class="valor">{{ registroData.usuario?.correo }}</span>
                    </li>
                </ul>
        </div>
        <div class="formSede">

            <h3>Sedes y oficinas.</h3>
            <p>Introduce la información de tus sedes y oficinas.</p>
            <form class="form-registro">
                <div class="steps">
                    <div class="step active">1</div>
                    <div class="line active"></div>
                    <div class="step active">2</div>
                    <div class="line active"></div>
                    <div class="step active">3</div>
                </div>
                
                    <button class="btn-volver" routerLink="/landing/registroStep2" type="submit">Volver</button>
                    <button class="btn-crear" routerLink="/landing/" type="submit">Siguiente</button>
            </form>
        </div>

    </div>
</div>
