<div class="container">

    <!-- HEADER -->
    <div class="header">
        <div routerLink="/landing" class="header-title">
            <img src="assets/teamcorelogo.png" width="60px" alt="Logo de TeamCore">
            <h2>TeamCore</h2>
        </div>
        <div>
            <button routerLink="/landing/inicio-sesion" class="btn-inicio">Inicio de Sesión</button>
            <button routerLink="/landing/registro" class="btn-registro">Registro</button>
        </div>
    </div>

    <!-- FORMULARIO DE REGISTRO -->
    <div class="content-registro">
        <h3>Detalles de la compañía.</h3>
        <p>Completa los siguientes datos para crear tu empresa en TeamCore.</p>
        <form class="form-registro" [formGroup]="formRegistro">
            <div class="steps">
                <div class="step active">1</div>
                <div class="line active"></div>
                <div class="step active">2</div>
                <div class="line"></div>
                <div class="step">3</div>
            </div>

            <div class="row">
                <div class="input-group">
                    <label>Nombre de Administrador</label>
                    <input readonly formControlName="nombreAdministrador" type="text" placeholder="Juan Pérez">
                </div>
                <div class="input-group">
                    <label>Nombre de la Empresa</label>
                    <input readonly formControlName="nombreEmpresa" type="text" placeholder="Tech Solutions S.A.">
                </div>
            </div>
            <div class="input-group img-logo">
                <label>LOGO DE LA EMPRESA</label>
                <input formControlName="logoEmpresa" type="file" accept="image/*">
            </div>
            <div class="row">
                <div class="input-group">
                    <label>CIF</label>
                    <input formControlName="cif" type="text" placeholder="A12345678">

                    <small class="error">

                       <span *ngIf="formRegistro.get('cif')?.errors?.['required'] && formRegistro.get('cif')?.touched">
                            El cif es obligatorio
                        </span>

                        <span *ngIf="formRegistro.get('cif')?.hasError('pattern') && formRegistro.get('cif')?.touched">
                            Formato de CIF incorrecto
                        </span>

                        <span *ngIf="formRegistro.get('cif')?.errors?.['maxlength']">
                            El CIF no puede tener más de 9 caracteres
                        </span>
                    </small>
                </div>
                <div class="input-group">
                    <label>FECHA DE FUNDACIÓN</label>
                    <input formControlName="fechaFundacion" required type="date">

                    <small class="error">

                        <span *ngIf="formRegistro.get('fechaFundacion')?.hasError('fechaMuyAntigua')">
                            La fecha de fundación no es válida. Muy antigua.
                        </span>

                        <span *ngIf="formRegistro.get('fechaFundacion')?.hasError('fechaFutura')">
                            La fecha de fundación no puede ser futura.
                        </span>

                        <span *ngIf="formRegistro.get('fechaFundacion')?.errors?.['required'] && formRegistro.get('fechaFundacion')?.touched">
                            La fecha de fundación es obligatoria
                        </span>

                        <span *ngIf="formRegistro.get('fechaFundacion')?.errors?.['pattern']">
                            Formato de fecha inválido (YYYY-MM-DD)
                        </span>
                    </small>
                </div>
            </div>
            <div class="input-group">
                <label>Área de Trabajo</label>
                <select formControlName="areaTrabajo">
                    <option disabled selected>Selecciona un área</option>

                    <option>Administración</option>
                    <option>Recursos Humanos</option>
                    <option>Finanzas</option>
                    <option>Contabilidad</option>
                    <option>Marketing</option>
                    <option>Marketing Digital</option>
                    <option>Ventas</option>
                    <option>Atención al Cliente</option>
                    <option>Soporte Técnico</option>
                    <option>Desarrollo de Software</option>
                    <option>Diseño UX/UI</option>
                    <option>Diseño Gráfico</option>
                    <option>Producto</option>
                    <option>Gestión de Proyectos</option>
                    <option>Logística</option>
                    <option>Compras</option>
                    <option>Operaciones</option>
                    <option>Calidad</option>
                    <option>Investigación y Desarrollo</option>
                    <option>Legal</option>
                    <option>Seguridad</option>
                    <option>Data / Analítica</option>
                    <option>Inteligencia de Negocio</option>
                    <option>IT / Sistemas</option>
                    <option>Infraestructura</option>
                    <option>Ciberseguridad</option>
                    <option>Producción</option>
                    <option>Recursos Digitales</option>
                    <option>Comunicación</option>
                    <option>Relaciones Públicas</option>
                    <option>Formación</option>
                </select>

                <small class="error">
                    <span *ngIf="formRegistro.get('areaTrabajo')?.errors?.['required'] && formRegistro.get('areaTrabajo')?.touched">
                        El área es obligatoria
                    </span>
                </small>
            </div>

                <button class="btn-volver" routerLink="/landing/registro" type="submit">Volver</button>
                <button class="btn-crear" (click)="onSubmit()" type="button">Siguiente</button>
        </form>
    </div>
</div>
