<nav class="sidebar">

  <div class="sidebar-brand">
    <img class="brand-icon" src="assets/teamcorelogo.png" alt="Logo">

    <div>
      <div class="brand-name">TeamCore</div>
    </div>
  </div>

  <ul class="sidebar-nav">

    <!-- GENERAL -->
    <li class="nav-section-label">General</li>

    <li class="nav-item" 
        routerLink="/dashboard/" >
      Dashboard
    </li>

    <li class="nav-item" routerLink="/notificaciones" >
      Notificaciones
    </li>

    <li class="nav-item" routerLink="/mi-perfil" >
      Mi perfil
    </li>

    <div class="nav-divider"></div>

    <!-- GESTIÓN -->
    <li class="nav-section-label">Gestión</li>

    <li
      class="nav-item"
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      
    >
        {{ item.label }}
    </li>

    <div class="nav-divider"></div>

    <!-- SISTEMA -->
    <li class="nav-section-label">Sistema</li>

    <li class="nav-item" routerLink="/utilidades" >
      Utilidades
    </li>

  </ul>

  <!-- FOOTER -->
  <div class="sidebar-footer">

    <div class="user-row">

      <div class="avatar">
        {{ usuarioLogado?.iniciales }}
      </div>

      <div>
        <div class="user-name">
          {{ usuarioLogado?.dni }}
        </div>

        <div class="user-role">
          {{ usuarioLogado?.rol }}
        </div>
      </div>

    </div>

    <button
      (click)="onLogout()"
      class="signout-btn"
    >
      Cerrar sesión
    </button>

  </div>

</nav>