.content {
  padding: 20px;
}

.descripcion {
  color: #333;
}

.contenido-empresa {
  display: flex;
  width: 80%;
  gap: 50px;
}

/* TARJETAS */

.tarjeta,
.sedes {
  width: 600px;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.tarjeta h3,
.sedes h3 {
  font-size: 18px;
  font-weight: 600;
  color: #4f7ced;
  margin-bottom: 15px;
}

/* FORMULARIO EMPRESA */

.tarjeta-cuerpo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.campo-grupo {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &.campo-ancho-completo {
    grid-column: 1 / -1;
  }

  label {
    font-size: 13px;
    font-weight: 600;
    color: #1a1a1a;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 9px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: #f4f4f2;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;

    &:focus {
      border-color: rgba(0, 0, 0, 0.35);
    }
  }

  textarea {
    min-height: 75px;
    resize: vertical;
  }
}

/* LOGO */

.logotipo-area {
  display: flex;
  gap: 12px;
}

.logotipo-preview {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #4e46e55a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logotipo-info {
  display: flex;
  flex-direction: column;
  gap: 4px;

  a {
    font-size: 13px;
    font-weight: 600;
    color: #4f7ced;
    text-decoration: none;
  }

  span {
    font-size: 11px;
    color: #888;
  }
}

/* SEDES */

.card-sedes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sede-grid,
.geo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.nombre-sede,
.direccion {
  grid-column: span 2;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-size: 13px;
    font-weight: 600;
    color: #1a1a1a;
  }

  input {
    width: 60%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #dbe1ea;
    background: #f8fafc;
    outline: none;

    &:focus {
      border-color: #4f7ced;
    }
  }
}

/* GEO */

.geo-box {
  padding: 16px;
  border-radius: 14px;
  background: #f5f9ff;
  border: 1px solid #dbeafe;
}

.geo-header {
  margin-bottom: 15px;

  span {
    font-weight: 600;
    color: #2563eb;
  }

  small {
    display: block;
    margin-top: 3px;
    color: #666;
  }
}

.geo-header img{
  vertical-align: middle;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .contenido-empresa {
    flex-direction: column;
    width: 100%;
  }

  .tarjeta,
  .sedes {
    width: 100%;
  }

  .tarjeta-cuerpo,
  .sede-grid,
  .geo-grid {
    grid-template-columns: 1fr;
  }

  .nombre-sede,
  .direccion {
    grid-column: span 1;
  }
}